---
---
<div class="marquee" aria-hidden="true">
  <div class="marquee__track">
    <span>Now reading <span class="dot"></span> The Concrete Monolith <span class="dot"></span> Negative Space <span class="dot"></span> Grid Systems <span class="dot"></span> The Weight of Shadows <span class="dot"></span> Aesthetics of Utility <span class="dot"></span></span>
    <span>Now reading <span class="dot"></span> The Concrete Monolith <span class="dot"></span> Negative Space <span class="dot"></span> Grid Systems <span class="dot"></span> The Weight of Shadows <span class="dot"></span> Aesthetics of Utility <span class="dot"></span></span>
  </div>
</div>
