---
interface Props {
  src: string;
  caption: string;
  credit?: string;
}
const { src, caption, credit } = Astro.props;
---
<div class="hero-img" style={`background-image: url('${src}');`}>
  <div class="hero-img__cap">
    <span>{caption}</span>
    {credit && <span>{credit}</span>}
  </div>
</div>
