---
interface Props {
  left: string;
  leftCaption: string;
  right: string;
  rightCaption: string;
}
const { left, leftCaption, right, rightCaption } = Astro.props;
---
<div class="twin-img">
  <div style={`background-image: url('${left}');`}></div>
  <div style={`background-image: url('${right}');`}></div>
</div>
<div class="figure-row">
  <span>{leftCaption}</span>
  <span>{rightCaption}</span>
</div>
